In [1]:
import pandas as pd
import os

In [2]:
results_folder = '../experiments/results/experiment_3'

In [3]:
files = os.listdir(results_folder)

In [4]:
metrics = [file for file in files if 'metrics' in file]
topics = [file for file in files if 'topics' in file]

In [5]:
metrics_data = pd.DataFrame()
for path in metrics:
    df = pd.read_csv(results_folder+'/'+path)
    print('-'*7)
    print('MEAN:\n', df.iloc[:,1:].mean())
    print('\nSTD:\n',df.iloc[:,1:].std())
    metrics_data = metrics_data.append(df, ignore_index=True)

-------
MEAN:
 diversity    0.821369
wetc         0.683256
dtype: float64
STD:
 diversity    0.017929
wetc         0.036354
dtype: float64

In [6]:
metrics_data

   Unnamed: 0  diversity      wetc
0           0   0.857143  0.714681
1           1   0.816667  0.744472
2           2   0.812500  0.674520
3           3   0.825000  0.722485
4           4   0.816667  0.654342
5           5   0.800000  0.640704
6           6   0.842857  0.655711
7           7   0.800000  0.640494
8           8   0.814286  0.700835
9           9   0.828571  0.684314