In [3]:
import pandas as pd
import os

In [5]:
results_folder = '../experiments/results/experiment_0'

In [7]:
files = os.listdir(results_folder)

In [9]:
metrics = [file for file in files if 'metrics' in file]
topics = [file for file in files if 'topics' in file]

In [18]:
metrics_data = pd.DataFrame()
for path in metrics:
    df = pd.read_csv(results_folder+'/'+path)
    print(df.iloc[:,1:].mean(), df.iloc[:,1:].std())
    metrics_data = metrics_data.append(df, ignore_index=True)

npmi         0.083043
diversity    0.770000
wetc         0.706381
dtype: float64 npmi         0.028612
diversity    0.026458
wetc         0.021600
dtype: float64
npmi         0.048273
diversity    0.722222
wetc         0.731973
dtype: float64 npmi         0.027004
diversity    0.027756
wetc         0.044162
dtype: float64
npmi         0.034449
diversity    0.866667
wetc         0.678752
dtype: float64 npmi         0.045796
diversity    0.030551
wetc         0.013780
dtype: float64

In [12]:
metrics_data

   Unnamed: 0      npmi  diversity      wetc
0           0  0.080763   0.740000  0.713476
1           1  0.055639   0.780000  0.723541
2           2  0.112727   0.790000  0.682127
3           0  0.064929   0.713333  0.685825
4           1  0.017117   0.700000  0.773837
5           2  0.062773   0.753333  0.736256
6           0  0.084447   0.900000  0.670573
7           1 -0.005464   0.840000  0.694661
8           2  0.024365   0.860000  0.671021